/78_MagicSquare/bin/Debug/78_MagicSquare.exe
/78_MagicSquare/bin/Debug/78_MagicSquare.exe.config
/78_MagicSquare/bin/Debug/78_MagicSquare.pdb
/78_MagicSquare/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/78_MagicSquare/obj/Debug/78_MagicSquare.csproj.AssemblyReference.cache
/78_MagicSquare/obj/Debug/78_MagicSquare.csproj.CoreCompileInputs.cache
/78_MagicSquare/obj/Debug/78_MagicSquare.csproj.FileListAbsolute.txt
/78_MagicSquare/obj/Debug/78_MagicSquare.exe
/78_MagicSquare/obj/Debug/78_MagicSquare.pdb
/78_MagicSquare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.deps.json
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.dll
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.exe
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.pdb
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.runtimeconfig.dev.json
/0104_MagicalTiles/bin/Debug/net5.0/0104_MagicalTiles.runtimeconfig.json
/0104_MagicalTiles/bin/Debug/net5.0/ref/0104_MagicalTiles.dll
/0104_MagicalTiles/obj/0104_MagicalTiles.csproj.nuget.dgspec.json
/0104_MagicalTiles/obj/0104_MagicalTiles.csproj.nuget.g.props
/0104_MagicalTiles/obj/0104_MagicalTiles.csproj.nuget.g.targets
/0104_MagicalTiles/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.AssemblyInfo.cs
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.AssemblyInfoInputs.cache
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.GeneratedMSBuildEditorConfig.editorconfig
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.assets.cache
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.csproj.AssemblyReference.cache
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.csproj.CoreCompileInputs.cache
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.csproj.FileListAbsolute.txt
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.dll
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.genruntimeconfig.cache
/0104_MagicalTiles/obj/Debug/net5.0/0104_MagicalTiles.pdb
/0104_MagicalTiles/obj/Debug/net5.0/apphost.exe
/0104_MagicalTiles/obj/Debug/net5.0/ref/0104_MagicalTiles.dll
/0104_MagicalTiles/obj/project.assets.json
/0104_MagicalTiles/obj/project.nuget.cache
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.deps.json
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.dll
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.exe
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.pdb
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.runtimeconfig.dev.json
/1586_MonochromeTile/bin/Debug/net5.0/1586_MonochromeTile.runtimeconfig.json
/1586_MonochromeTile/bin/Debug/net5.0/ref/1586_MonochromeTile.dll
/1586_MonochromeTile/obj/1586_MonochromeTile.csproj.nuget.dgspec.json
/1586_MonochromeTile/obj/1586_MonochromeTile.csproj.nuget.g.props
/1586_MonochromeTile/obj/1586_MonochromeTile.csproj.nuget.g.targets
/1586_MonochromeTile/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.AssemblyInfo.cs
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.AssemblyInfoInputs.cache
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.GeneratedMSBuildEditorConfig.editorconfig
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.assets.cache
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.csproj.AssemblyReference.cache
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.csproj.CoreCompileInputs.cache
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.csproj.FileListAbsolute.txt
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.dll
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.genruntimeconfig.cache
/1586_MonochromeTile/obj/Debug/net5.0/1586_MonochromeTile.pdb
/1586_MonochromeTile/obj/Debug/net5.0/apphost.exe
/1586_MonochromeTile/obj/Debug/net5.0/ref/1586_MonochromeTile.dll
/1586_MonochromeTile/obj/project.assets.json
/1586_MonochromeTile/obj/project.nuget.cache
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.deps.json
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.dll
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.exe
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.pdb
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.runtimeconfig.dev.json
/0556_Tile/bin/Debug/netcoreapp3.1/0556_Tile.runtimeconfig.json
/0556_Tile/obj/0556_Tile.csproj.nuget.dgspec.json
/0556_Tile/obj/0556_Tile.csproj.nuget.g.props
/0556_Tile/obj/0556_Tile.csproj.nuget.g.targets
/0556_Tile/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.AssemblyInfo.cs
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.AssemblyInfoInputs.cache
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.GeneratedMSBuildEditorConfig.editorconfig
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.assets.cache
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.csproj.AssemblyReference.cache
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.csproj.CoreCompileInputs.cache
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.csproj.FileListAbsolute.txt
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.dll
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.genruntimeconfig.cache
/0556_Tile/obj/Debug/netcoreapp3.1/0556_Tile.pdb
/0556_Tile/obj/Debug/netcoreapp3.1/apphost.exe
/0556_Tile/obj/project.assets.json
/0556_Tile/obj/project.nuget.cache
/0078_MagicSquare/bin/Debug/0078_MagicSquare.exe
/0078_MagicSquare/bin/Debug/0078_MagicSquare.exe.config
/0078_MagicSquare/bin/Debug/0078_MagicSquare.pdb
/0078_MagicSquare/bin/Debug/78_MagicSquare.exe
/0078_MagicSquare/bin/Debug/78_MagicSquare.exe.config
/0078_MagicSquare/bin/Debug/78_MagicSquare.pdb
/0078_MagicSquare/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/0078_MagicSquare/obj/Debug/0078_MagicSquare.csproj.AssemblyReference.cache
/0078_MagicSquare/obj/Debug/0078_MagicSquare.csproj.CoreCompileInputs.cache
/0078_MagicSquare/obj/Debug/0078_MagicSquare.csproj.FileListAbsolute.txt
/0078_MagicSquare/obj/Debug/0078_MagicSquare.exe
/0078_MagicSquare/obj/Debug/0078_MagicSquare.pdb
/0078_MagicSquare/obj/Debug/78_MagicSquare.csproj.AssemblyReference.cache
/0078_MagicSquare/obj/Debug/78_MagicSquare.csproj.CoreCompileInputs.cache
/0078_MagicSquare/obj/Debug/78_MagicSquare.csproj.FileListAbsolute.txt
/0078_MagicSquare/obj/Debug/78_MagicSquare.exe
/0078_MagicSquare/obj/Debug/78_MagicSquare.pdb
/0078_MagicSquare/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/0078_MagicSquare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/sh.exe.stackdump
/0718_MoveBalls/obj/0718_MoveBalls.csproj.nuget.dgspec.json
/0718_MoveBalls/obj/0718_MoveBalls.csproj.nuget.g.props
/0718_MoveBalls/obj/0718_MoveBalls.csproj.nuget.g.targets
/0718_MoveBalls/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/0718_MoveBalls/obj/Debug/netcoreapp3.1/0718_MoveBalls.AssemblyInfo.cs
/0718_MoveBalls/obj/Debug/netcoreapp3.1/0718_MoveBalls.AssemblyInfoInputs.cache
/0718_MoveBalls/obj/Debug/netcoreapp3.1/0718_MoveBalls.assets.cache
/0718_MoveBalls/obj/project.assets.json
/0718_MoveBalls/obj/project.nuget.cache
